<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Историческое наследие</title>
    <link rel="stylesheet" href="static/css/leaflet.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="static/js/leaflet.js"></script>
    <script src="static/js/Granica_3.js"></script>
    <script src="static/js/Cities_6.js"></script>
    <script src="static/js/Gidronimy_5.js"></script>
    <script src="static/gj/GranicaLine.js"></script>
    <script src="static/js/Toponimy_2.js"></script>
    <script src="static/js/ToponimyLine_4.js"></script>
    <script src="static/js/markersdata.js"></script>
    <script src="static/Leaflet.markercluster-1.4.1/Leaflet.markercluster-1.4.1/src/MarkerCluster.js"></script>
    <link rel="stylesheet" href="static/Leaflet.markercluster-1.4.1/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet"
          href="static/Leaflet.markercluster-1.4.1/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css">
    <script src="static/Leaflet.markercluster-1.4.1/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="static/Leaflet.markercluster-1.4.1/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster-src.js"></script>
    <script src="static/js/_0.js"></script>
    <link rel="stylesheet" href="static/src/L.Control.Sidebar.css">
    <script src="static/src/L.Control.Sidebar.js"></script>
    <script src="static/js/L.Control.Layers.Tree.js"></script>
    <link rel="stylesheet" href="static/css/L.Control.Layers.Tree.css">
    <link rel="icon" type="image/png" href="static/images/icon/MonumentIcon.svg"/>
    <script src="static/js/slides.js"></script>
    <link rel="stylesheet" href="static/css/slider.css">
    <script src="static/js/123.js"></script>
    <link rel="stylesheet" href="static/Leaflet.defaultextent-master/dist/leaflet.defaultextent.css">
    <script src="static/Leaflet.defaultextent-master/dist/leaflet.defaultextent.js"></script>
    <script src="static/js/chel.js"></script>
    <script src="static/js/or.js"></script>
    <script src="static/js/topoints_json.js"></script>
    <link rel="stylesheet" href="static/src/leaflet-search.css" />
    <script src="static/Leaflet.Dialog-master/Leaflet.Dialog.js"></script>
    <link rel="stylesheet" href="static/Leaflet.Dialog-master/Leaflet.Dialog.css">
    <link rel="stylesheet" href="static/Leaflet.Legend-master/src/leaflet.legend.css">
    <script src="static/Leaflet.Legend-master/src/leaflet.legend.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="static/js/leaflet.markercluster.layersupport.js"></script>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/leaflet.textpath.js"></script>
    <script src="static/Leaflet.EasyButton-master/src/easy-button.js"></script>
    <style>
        .leaflet-marker-icon {
            /* делаем стандартные маркеры прозрачными */
	color: rgb(173, 25, 25, .0);
	font-size: 1px;
	line-height: 1px;	
	text-align: center;
	vertical-align: middle;

}
        .search-tip b {
            color: #000000;  /* Цвет текста type для поиска */
        }
        .toponym.search-tip b,
        .toponym.leaflet-marker-icon {
            background: #0ed145
        }
        .monument.search-tip b,
        .monument.leaflet-marker-icon {
            background: #cc294f
        }
        .regiment.search-tip b,
        .regiment.leaflet-marker-icon {
            background: #9a46de
        }
        .fort.search-tip b,
        .fort.leaflet-marker-icon {
            background: #ff7f27
        }
        .cities.search-tip b,
        .cities.leaflet-marker-icon {
            background: #00a2f3
        }
        .uezd.search-tip b,
        .uezd.leaflet-marker-icon {
            background: #5fe3b0
        }
        /* местоположение type для поиска */
        .search-tip {
            white-space: nowrap;
        }
        .search-tip b {
            display: inline-block;
            clear: left;
            float: right;
            padding: 0 4px;
            margin-left: 4px;
        }
        </style>
</head>
<body>
<div id="map">
    <span class="leaflet-layerstree-closed leaflet-layerstree-hide"><img src="static/images/icon/MonumentIcon.svg"></span>
</div>
<script src="static/map.js"></script>
<script src="static/src/leaflet-search.js"></script>
<div id="sidebar"> </div>
<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
        </path>
    </svg>
</div>
<script>
    //-----------------ЗАГРУЗОЧНЫЙ_ЭКРАН-------------------//
    //-----------------ЗАГРУЗОЧНЫЙ_ЭКРАН-------------------//
    //-----------------ЗАГРУЗОЧНЫЙ_ЭКРАН-------------------//
    //-----------------ЗАГРУЗОЧНЫЙ_ЭКРАН-------------------//
    window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
    }, 3000);
}
    //-----------------КНОПКА_ИНФОРМАЦИИ-------------------//
    //-----------------КНОПКА_ИНФОРМАЦИИ-------------------//
    //-----------------КНОПКА_ИНФОРМАЦИИ-------------------//
    //-----------------КНОПКА_ИНФОРМАЦИИ-------------------//
    var stateChangingButton = L.easyButton({
        states: [{
            stateName: 'zoom-to-forest',        // name the state
            icon:      '<img src="static/images/img_290734.png" width="16" height="16">',               // and define its properties
            title:     'Информация о сайте',
            alert: 'Информация о сайте', // like its title
            onClick: function(btn, map) {       // and its callback

                // change state on click!
                openSidebarInfo();
            }
        }]
    }).addTo(map);
    function openSidebarInfo() {
        sidebar.toggle();
        var popupContentReg=' ';
        //-----------------ДОБАВИТЬ_МЕДИА?-------------------//
        sidebar.setContent('<h1>'+ "Интерактивная карта «Исторического наследия Республики Башкортостан»" + '</h1>' +
        "<p>Содержит:"+
        "<p>– места формирования полков;"+
        "<p>– маршруты их передвижения ;" +
        "<p>– места, связанные с мемориальной практикой (монументы, памятники);" +
        "<p>– места, связанные с башкирскими полками в рамках устной традиции." +
        '<p align="center"><button id="dopinfo" onclick="dopinfo_click()">Редактор </button>' + popupContentReg);
        showSlides();
    }
    
    function dopinfo_click(){
        window.open("/admin/", '_blank');
        }
    //------------------------------------//
    //------------------------------------//
    //------------------------------------//
    //------------------------------------//
    function makeFullScreen() {
        var divObj = document.getElementsByClassName("Image");
        divObj[slideIndex-1].requestFullscreen();

    }
    var sidebar = L.control.sidebar('sidebar', {
        position: 'left'
    });
    var home=document.getElementsByClassName('leaflet-control-defaultextent-toggle');
    getDataAddMarkers = function( {label, value, map, exclamation} ) {
        map.eachLayer(function (layer) {
            if (layer instanceof L.Marker) {
                map.removeLayer(layer);
            }
        });
    };
    map.addControl(sidebar);
    //-----------------ИЗМЕНЕНИЕ_ИКОНОК_ПРИ_НАЖАТИИ-------------------//
    //-----------------ИЗМЕНЕНИЕ_ИКОНОК_ПРИ_НАЖАТИИ-------------------//
    //-----------------ИЗМЕНЕНИЕ_ИКОНОК_ПРИ_НАЖАТИИ-------------------//
    //-----------------ИЗМЕНЕНИЕ_ИКОНОК_ПРИ_НАЖАТИИ-------------------//
    function chic(){

        var testElements = document.getElementsByClassName('leaflet-marker-icon');
        for(var j=0;j<testElements.length;j++){
            if(testElements[j].src!=undefined){
            if(testElements[j].src.match("static/images/icon/MonumentIconClick.svg"))
                testElements[j].src="static/images/icon/MonumentIcon.svg";
            if(testElements[j].src.match("static/images/icon/ToponymIconClick.svg"))
                testElements[j].src="static/images/icon/ToponymIcon.svg";
            if(testElements[j].src.match("static/images/icon/CityIconClick.svg"))
                testElements[j].src="static/images/icon/CityIcon.svg";
            if(testElements[j].src.match("static/images/icon/FortIconClick.svg"))
                testElements[j].src="static/images/icon/FortIcon.svg";
            if(testElements[j].src.match("static/images/icon/RegimentIconClick.svg"))
                testElements[j].src="static/images/icon/RegimentIcon.svg";
            if(testElements[j].src.match("static/images/icon/UezdIconClick.svg"))
                testElements[j].src="static/images/icon/UezdIcon.svg";
            
            }
        }
    }
    map.on('click', function () {
        sidebar.hide();
        chic();
    });
    sidebar.on('hidden', function () {
        chic();
        var video = document.getElementsByClassName('Video');
        for(var j=0;j<video.length;j++){
            video[j].pause();
        }
    });
    
</script>
</body>
</html>